// ---------------------------------------------
// ======---------------------------------======
//  Variables
// ======---------------------------------======
// ---------------------------------------------

:root {
  --clr-bg: 266, 38%, 14%;
  --clr-main: 266, 53%, 9%;
  --clr-dark: 266, 53%, 4%;
  --clr-t-main: 0, 0%, 100%;
  --clr-t-title: 55, 67%, 80%;
  --clr-t-accent: 177, 70%, 41%;
  --clr-border: 120, 73%, 75%;
  --font-main: "Roboto", sans-serif;
  --font-accent: "Roboto Condensed", sans-serif;
  --font-display: "Alfa Slab One", cursive;
}
