// ---------------------------------------------
// ======---------------------------------======
//  Footer
// ======---------------------------------======
// ---------------------------------------------
.site-footer {
  grid-area: footer;

  padding: 2rem 2rem;

  background-color: hsl(var(--clr-dark));

  color: hsl(var(--clr-border));
  text-align: center;

  p {
    margin: 0;
  }

  a {
    color: hsl(var(--clr-t-accent));

    &:hover,
    &:focus {
      color: hsl(var(--clr-t-title));
    }
  }
}
