// ---------------------------------------------
// ======---------------------------------======
//  Header
// ======---------------------------------======
// ---------------------------------------------

.site-header {
  grid-area: header;
  display: grid;
  place-content: center;

  padding: 1.5rem;

  background: hsl(var(--clr-bg));
}

.site-logo {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--clr-t-title);
  text-decoration: none;

  img {
    width: 3rem;

    flex-direction: 0 0 auto;

    margin: 0 1.5rem 0 0;
  }
}

// ====---------------====
// Navigation
// ====---------------====
.nav-main {
  display: flex;
  place-content: center;
  gap: 1.5rem;

  margin-top: 1.5rem;
}

.nav-main a {
  color: var(--clr-border);
  font-family: var(--font-accent);
  font-weight: 700;
}
