// ---------------------------------------------
// ======---------------------------------======
//  Sidebar
// ======---------------------------------======
// ---------------------------------------------

.sidebar-posts {
  grid-column: 4;

  padding-left: 2rem;
  border-left: 2px solid hsl(var(--clr-border));
}
